<ion-content [fullscreen]="true">
  <div style="height: 100vh; background-color: rgb(0, 0, 0);">
    <header style="background-color: rgb(0, 0, 0); padding: 20px;">
      <h1 class="ion-text-center" style="color: rgb(255, 255, 255);">Lista de tareas</h1>
    </header>
    <br>
    <form [formGroup]="tarea" (ngSubmit)="nTarea()">
      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-input formControlName="nombre"></ion-input>
      </ion-item>
      <ion-label color="danger" *ngIf="tarea.controls.nombre.errors?.['required'] && (tarea.touched || tarea.dirty)">* El nombre es obligatorio </ion-label>
      <ion-item>
        <ion-label>Fecha:</ion-label>
        <ion-input formControlName="fecha" type="datetime-local"></ion-input>
      </ion-item>
      <ion-label color="danger" *ngIf="tarea.controls.fecha.errors?.['required'] && (tarea.touched || tarea.dirty)">* La fecha es obligatoria </ion-label>
      <ion-item>
        <ion-label>Descripcion:</ion-label>
        <ion-input formControlName="descripcion"></ion-input>
      </ion-item>
      <p class="ion-text-center">
        <ion-button type="submit" [disabled]="!tarea.valid">Añadir tarea</ion-button>
      </p>
    </form>
    <br><br><br>
    <div class="container" style="background-color: rgb(141, 141, 141);">
      <table style="width: 100%; border-collapse: collapse;">
        <thead>
          <tr>
            <th style="border: 1px solid black; padding: 8px;">Nombre</th>
            <th style="border: 1px solid black; padding: 8px;">Descripcion</th>
            <th style="border: 1px solid black; padding: 8px;">Fecha</th>
            <th style="border: 1px solid black; padding: 8px;">Completada</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tarea of tareas">
            <td style="border: 1px solid black; padding: 8px;">{{ tarea.nombre }}</td>
            <td style="border: 1px solid black; padding: 8px;">{{ tarea.descripcion }}</td>
            <td style="border: 1px solid black; padding: 8px;">{{ tarea.fecha }}</td>
            <td style="border: 1px solid black; padding: 8px;">
              <ion-checkbox style="width: 140px;"></ion-checkbox>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>